@import '../../utils/vars';


.mainContainer {
    position: relative;
    width: 100%;
    border-top: 2px solid $light-blue;
}

.boxContainer {
    padding: 0 34px;
    background-color: #fff;

    position: absolute;
    top: -14px;
    left: calc(50% - 16px);
}