@import '../../utils/vars';


.wrapper {
    @include trim;
    background-color: #F8FAFF;

    background-image: url('../../assets/StatueOfLiberty.png');
    background-position: center 100%;

    background-repeat: no-repeat;


    @media (max-width: 1365px) {
        background-image: url('../../assets/city360.png');
        background-position: center calc(100% - 200px);
    }
}

.mainContainer {
    padding: 36px 32px 32px 103px;

    display: flex;
    justify-content: space-between;

    @media (max-width: 1365px) {
        flex-direction: column;
        padding: 32px 16px;
    }
}

.left {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (max-width: 1365px) {
        gap: 40px;
    }
}


.titleContainer {
    padding-top: 30px;
    width: 375px;
    color: $dark-blue;

    display: flex;
    flex-direction: column;
    gap: 30px;

    & h1 {
        @include h1;
    }

    & p {
        width: 360px;
        @include txt;

        @media (max-width: 1365px) {
            width: auto;
        }
    }

    @media (max-width: 1365px) {
        width: auto;
        gap: 15px;
    }
}

.videoWrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;

    & h3 {
        @include h3;
        color: $dark-blue;
    }
}



.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 72px;

    width: 360px;


    @media (max-width: 1365px) {
        width: 100%;
        order: -1;
        gap: 32px;
    }
}