@import '../../utils/vars';

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    color: $dark-blue;

    & h2 {
        @include h1;
    }

    & p {
        width: 754px;
        text-align: center;

        @include h3;
        opacity: 0.48;


    }

    @media (max-width: 1365px) {
        gap: 10px;
        text-align: center;

        & p {
            width: auto;
        }
    }
}