@import '../../utils/vars';

.openMenuBtn {
    display: none;

    @media (max-width: 1365px) {
        display: block;
    }
}

.menuContainer {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1365px) {
        z-index: 10;
        position: absolute;
        height: 100vh;
        flex-direction: column;
        gap: 40px;
        top: 0;
        justify-content: flex-start;

        background-color: $white;
        padding: 24px 16px;
        box-shadow: 0px 16px 16px 0px #4963B029;

        transition: 0.5s;
        left: 100%;
    }
}

.isOpen {
    @media (max-width: 1365px) {
        transform: translateX(-100%);
    }
}

.closeBtn {
    display: none;

    @media (max-width: 1365px) {
        display: flex;
        justify-self: flex-end;
        flex-grow: 1;
        flex-direction: row-reverse;
        position: relative;

        & span {
            position: absolute;
            top: 50%;
            width: 20px;
            height: 2px;
            border-radius: 1px;
            background-color: $light-blue;


        }

        .first {
            transform: rotate(45deg);
        }

        .second {
            transform: rotate(-45deg);
        }
    }
}

.btnWrapper {
    display: none;

    @media (max-width: 1365px) {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
    }
}

.cityText {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbarContainer {
    display: flex;
    align-items: center;


}

.navList {
    display: flex;
    gap: 36px;

    @media (max-width: 1365px) {
        flex-direction: column;
    }
}

.navItem {

    &:nth-child(n+3) {
        display: none;
    }

    @media (max-width: 1365px) {
        &:nth-child(n+3) {
            display: flex;
        }
    }
}