@import '../../utils/vars';

.wrapper {
    position: relative;
    display: flex;

}

.inputContainer {
    flex-grow: 1;

    padding: 7px 30px 7px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid $light-blue;
    fill: $light-blue;
    border-radius: 8px;

    @include txt2;




    &:hover {
        background-color: $bkgColor;
    }

    &:focus {
        border-color: $blue;

        &+.svgContainer {
            fill: $blue;
        }
    }
}

.svgContainer {
    position: absolute;
    top: calc(50% - 8px);
    right: 12px;

    width: 16px;
    height: 16px;
    fill: $light-blue;
}