@import './fonts';

$white: #FFFFFF;
$yellow: #FFDD2D;
$blue: #2B6BF3;
$dark-blue: #1D253C;
$light-blue: #C2D2F4;
$darker-blue: #1252DB;

$light-gray: #D7DFF2;

$gray: #666666;
$bkgColor: #F1F4FC;

$red: #FD466E;
$light-green: #6FCF97;
$green: #27AE60;


@mixin text($family , $weight, $size, $lineHeight) {
    font-family: $family;

    font-weight: $weight ;
    font-size: #{$size}px;
    line-height: #{$lineHeight}px;
}



@mixin h1 {
    @include text('Intro Bold', 700, 40, 48);

    @media (max-width: 1365px) {
        @include text('Intro Bold', 700, 24, 32);
    }

}

@mixin h2 {
    @include text('Intro Bold', 700, 24, 24)
}

@mixin h3 {
    @include text('Intro Regular', 400, 22, 32)
}

@mixin h4 {
    @include text('Intro Book', 400, 22, 32)
}

@mixin h5 {
    @include text('Intro Regular', 400, 18, 24)
}

@mixin txt {
    @include text('Intro Book', 400, 16, 24)
}

@mixin txt2 {
    @include text('Intro Book', 400, 14, 24)
}

@mixin txt_menu {
    @include text('Intro Book', 400, 18, 48)
}

@mixin txt_digits {
    @include text('Intro Regular', 400, 32, 40)
}




/* 1366/2=683 and 360/2=180 */

@mixin trim {
    padding-left: calc(50% - 683px);
    padding-right: calc(50% - 683px);

    @media (max-width: 1365px) {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }
}