@import '../../utils/vars';

.grayHover {
    fill: $light-gray ;

    &:hover {
        fill: inherit;
    }
}


.redColor {
    fill: $red;
}

.blueColor {
    fill: $blue;
}

.yellowColor {
    fill: $yellow;
}