@import '../../utils/vars';


.wrapper {}

.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    width: 24px;
    height: 24px;

    background-color: #DDE7FD;
    border-radius: 50%;

    cursor: pointer;

    &:hover {
        background-color: $dark-blue;
    }
}

.point {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #fff;
}

.line {
    width: 2px;
    height: 8px;
    border-radius: 1px;
    background-color: #fff;
}

.tooltipContainer {
    display: none; // delete
    width: 250px;
    border: 1px solid $light-blue;
    box-shadow: 0px 16px 16px 0px hsla(225, 41%, 49%, 0.161);

    padding: 8px 16px;

    @include txt2;
    color: $dark-blue;
}